.basic-products__list {
  display: flex;
  flex-direction: column;

  margin-top: 41px;
  padding: 0;

  border-top: 1px solid $line-gray;

  list-style-type: none;
}

.basic-products__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  width: 280px;

  padding-bottom: 25px;

  border-bottom: 1px solid $line-gray;
}

.basic-products__description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 140px;
}

.basic-products__info-table {
  width: 140px;

  @include font-param($font-family: $Arial, $font-size: 12px);

  border-collapse: collapse;
}

.basic-products__value {
  text-align: right;
}

.basic-products__title {
  width: 76px;

  @include font-param($font-size: 16px, $line-height: 20px);
  text-transform: uppercase;
}

.basic-products__button {
  width: 280px;

  margin-top: 13px;
}

.basic-products__show-more {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-top: 79px;

  &::before {
    content: "";
    position: absolute;
    top: 26px;
    left: 125px;

    display: block;
    width: 30px;
    height: 30px;
    background-image: url("../img/icon-plus-mobile.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.basic-products__show-more-text {
  @include font-param($font-size: 16px, $line-height: 20px);
  text-transform: uppercase;
}

.basic-products__show-more-comment {
  margin-top: 8px;
  margin-bottom: 0;

  @include font-param($font-size: 12px, $font-family: $Arial);
}

.basic-products__show-more-button {
  margin-top: 21px;
}

@media (min-width: $tablet-width) {
  .basic-products__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-top: 83px;

    border-top: none;
  }

  .basic-products__item {
    position: relative;

    justify-content: center;

    box-sizing: border-box;
    width: 324px;

    margin-bottom: 60px;
    padding: 0 36px 40px 36px;

    background: linear-gradient(to bottom, $light-bg-color 73px, $grey-bg-color 73px);
  }

  .basic-products__title {
    width: 145px;
    margin-top: 227px;

    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  .basic-products__picture {
    position: absolute;
    top: 0;
  }

  .basic-products__info-table {
    width: 250px;

    font-size: 16px;
  }

  .basic-products__description {
    align-items: center;

    width: 250px;
  }

  .basic-products__info-table td {
    height: 32px;

    border-bottom: 1px solid $line-gray;
  }

  .basic-products__button {
    margin-top: 33px;
  }

  .basic-products__show-more {
    padding-top: 161px;

    border: 1px solid $line-gray;
    background: $light-bg-color;

    &::before {
      top: 52px;
      left: 132px;

      width: 60px;
      height: 60px;
      background-image: url("../img/icon-plus.svg");
    }
  }

  .basic-products__show-more-text {
    width: 134px;

    font-size: 20px;
    line-height: 22px;
    text-align: center;
  }

  .basic-products__show-more-comment {
    width: 167px;

    margin-top: 23px;
    margin-bottom: 87px;

    font-size: 16px;
    line-height: 18px;
    text-align: center;
  }

  .basic-products__show-more-button {
    margin-top: 21px;
  }
}

@media (min-width: $desktop-width) {
  .basic-products__item {
    position: relative;
    align-items: flex-start;

    width: 245px;
    padding: 0 30px 40px 35px;
  }

  .basic-products__title {
    margin-top: 233px;

    line-height: 23px;
  }

  .basic-products__info-table {
    width: 180px;
  }

  .basic-products__info-table td {
    height: 30px;
  }

  .basic-products__button {
    width: 168px;
    padding-top: 11px;
    padding-bottom: 11px;

    font-size: 16px;
  }

  .basic-products__show-more {
    display: flex;
    flex-direction: column;
    align-content: center;

    padding-top: 161px;

    &::before {
      left: 92px;
      top: 51px;
    }
  }

  .basic-products__show-more-button {
    width: 169px;
    padding-top: 11px;
    padding-bottom: 11px;
  }
}
