.before-after {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 29px;
  margin-bottom: 0;
}

.before-after__slider {
  display: block;
  position: relative;

  box-sizing: border-box;
  width: 84px;
  height: 14px;

  margin-right: 17px;
  margin-left: 16px;

  border: 1px solid $border-gray;
  border-radius: 6px;

  background-color: $light-bg-color;
}

.before-after__toggle {
  position: absolute;
  left: 5px;
  top: 3px;

  display: block;

  box-sizing: border-box;
  width: 35px;
  height: 6px;

  border-radius: 6px;

  background-color: $main-bg-color;
}

.before-after__imgs {
  position: relative;

  margin: 0 auto;
  margin-left: -20px;
}

.before-after__before-img {
  position: relative;
  z-index: 2;
}

.before-after__after-img {
  display: none;
  position: absolute;
  top: 0;
  z-index: 1;
}

@media (min-width: $tablet-width) {
  .before-after {
    margin-top: 15px;
  }

  .before-after__wraper {
    margin-top: 70px;
  }

  .before-after__slider {
    width: 428px;
    height: 6px;

    margin-left: 22px;
    margin-right: 20px;

    border: none;

    background-color: $line-gray;
  }

  .before-after__toggle {
    left: 196px;
    top: -14px;

    width: 34px;
    height: 34px;

    border-radius: 50%;
    background-color: $light-bg-color;

    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);

    &::before {
      content: "";
      display: block;
      position: absolute;

      width: 8px;
      height: 8px;

      left: 13px;
      top: 13px;

      border-radius: 50%;
      background-color: $main-bg-color;
    }
  }

  .before-after__imgs {
    margin-left: -5px;
  }

  .before-after__before-img {
    padding-left: 20px;

    width: 338px;
    overflow: hidden;
  }

  .before-after__after-img {
    display: block;
    top: 0;
    left: 357px;
    width: 357px;
    overflow: hidden;
  }

  .before-after__after-img img {
    transform: translate(-334px);
  }
}

@media (min-width: $desktop-width) {
  .before-after {
    margin-top: 35px;
    margin-left: 115px;
  }

  .before-after__wraper {
    width: 690px;

    margin-top: 15px;
  }

  .before-after__imgs {
    overflow: hidden;

    margin-left: 65px;
  }

  .before-after__before-img {
    width: 366px;

    padding-left: 0;

    margin-left: -25px;
  }

  .before-after__after-img {
    left: 340px;
  }

  .before-after__after-img img {
    transform: translate(-363px);
  }

  .before-after__slider {
    width: 428px;

    margin-right: 20px;
    margin-left: 20px;
  }
}
