.contacts__section-wraper {
  padding: 0;
}

.contacts__slogan {
  @include font-param($font-size: 16px);
  text-transform: uppercase;
  color: $main-text-color-l;
}

.contacts__adress {
  @include font-param($font-family: $Arial, $line-height: 20px);
  color: $dark-text-color;
}

.contacts__map {
  margin: 0 auto;
}
