.data-form__main-data {
  display: flex;
  justify-content: space-between;

  padding: 0;

  border: none;

  & label {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;

    margin-bottom: 13px;
  }
}

.data-form__main-info {
  margin-left: 14px;
  flex-grow: 1;
}

.data-form__description {
  margin-bottom: 40px;

  @include font-param($line-height: 18px);
  text-transform: uppercase;
}

.data-form__direction {
  margin-top: 14px;

  padding-top: 20px;
  padding-bottom: 9px;

  border-top: 1px solid $line-gray;
  border-bottom: 1px solid $line-gray;

  & p {
    margin: 0;
  }
}

.data-form__direction-picker-label {
  position: relative;

  &::before {
    content: "";
    box-sizing: border-box;
    display: block;
    width: 30px;
    height: 30px;

    margin-right: 15px;

    border: 1px solid $line-gray;
    border-radius: 50%;

    cursor: pointer;
  }
}

.data-form__direction-picker:checked +  .data-form__direction-picker-label{
  &::after {
    content: "";
    position: absolute;
    left: 8.5px;

    width: 13px;
    height: 13px;

    border-radius: 50%;

    background-color: $main-bg-color;
  }
}

.data-form__contact-data {
  padding: 0;
  border: none;
}
