.live-example {
  padding-bottom: 37px;

  background-color: $grey-bg-color;
}

.live-example__section-wraper {
  padding-top: 27px;
}

.live-example__title {
  margin-top: 0;
  margin-bottom: 20px;
}

.live-example__text-wraper {
  display: flex;
  flex-direction: column;
}

.live-example__description {
  padding-right: 5px;

  @include font-param($font-family: $Arial);
}

.live-example__indicators-list {
  display: flex;
  justify-content: space-between;

  margin-top: 12px;
  padding: 0;

  list-style-type: none;
}

.live-example__indicators-item {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-width: 124px;
  min-height: 56px;

  border: 1px solid $line-gray;
  border-radius: 3px;

  @include font-param($font-size: 24px, $line-height: 24px);
  text-transform: uppercase;
  text-align: center;
}

.live-example__indicators-comment {
  position: absolute;
  top: 47px;

  box-sizing: border-box;

  width: 87px;
  padding-left: 15px;
  padding-right: 20px;

  background-color: $grey-bg-color;

  font-family: $Arial;
  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;
}

.live-example__price {
  margin-top: 15px;
  margin-bottom: 35px;

  @include font-param($line-height: 20px);
  text-transform: uppercase;
  text-align: center;
}

.live-example__before-after {
  @include font-param($font-size: 16px, $line-height: 20px);
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .live-example {
    padding-bottom: 8px;

    border-top: 1px solid $line-gray;

    background: linear-gradient(to bottom, $light-bg-color 619px, $grey-bg-color 619px);
  }

  .live-example__section-wraper {
    padding-top: 43px;
    padding-bottom: 68px;
  }

  .live-example__text-wraper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .live-example__title {
    margin-bottom: 50px;
  }

  .live-example__description {
    padding-right: 20px;
    margin-bottom: 38px;

    font-size: 16px;
    line-height: 24px;
  }

  .live-example__indicators-item {
    min-width: 160px;
    min-height: 72px;

    margin-right: 42px;

    font-size: 30px;
  }

  .live-example__indicators-comment {
    top: 65px;

    min-width: 130px;
    padding: 0;

    font-size: 14px;

    background-color: $light-bg-color;
  }

  .live-example__price {
    max-width: 175px;
    margin-top: 25px;
    margin-bottom: 25px;

    font-size: 20px;
    line-height: 24px;
    text-align: right;
  }

  .live-example__before-after {
    font-size: 20px;
  }
}

@media (min-width: $desktop-width) {
  .live-example {
    border: none;

    background: linear-gradient(to bottom, $light-bg-color 203px, $grey-bg-color 203px);
  }

  .live-example__section-wraper {
    display: flex;
    justify-content: space-between;

    padding-top: 0;
    padding-bottom: 40px;
  }

  .live-example__title {
    margin-top: 67px;
    margin-bottom: 146px;
  }

  .live-example__text-wraper {
    flex-direction: column;

    max-width: 436px;
  }

  .live-example__description {
    max-width: 436px;

    margin-top: 0;
    margin-bottom: 57px;

    padding-right: 0;
  }

  .live-example__indicators-list {
    width: 365px;
  }

  .live-example__indicators-item {
    margin-right: 0;
  }

  .live-example__indicators-comment {
    background-color: $grey-bg-color;
  }

  .live-example__price {
    max-width: 330px;

    margin-top: 40px;

    text-align: left;
  }

  .live-example__price-value {
    margin-left: 60px;
  }
}
