.page-footer {
  padding-top: 40px;
  padding-bottom: 22px;

  background-color: $gray-bg-color;
}

.page-footer__logo {
  display: flex;
  justify-content: center;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-footer__socials-list {
  margin-top: 31px;
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .page-footer {
    padding-top: 55px;
    padding-bottom: 61px;
  }

  .page-footer__section-wraper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__socials-list {
    margin: 0;
  }
}
