.programs__list {
  margin-top: 22px;
  padding: 0;

  list-style-type: none;
}

.programs__item {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin-bottom: 20px;
  padding: 24px 20px 21px 20px;

  background-color: $gray-bg-color;
}

.programs__title {
  position: relative;

  display: flex;
  align-items: center;

  margin-top: 0;
  margin-bottom: 0;

  @include font-param($font-size: 24px, $line-height: 37px);
  text-transform: uppercase;

  &::before {
    content: "";
    display: block;
    width: 50px;
    height: 50px;

    margin-right: 19px;

    border-radius: 50%;
    background-color: $main-bg-color;
  }
}

.programs__title--slim {
  &::after {
    content: "";

    position: absolute;
    left: 7px;
    top: -4px;

    width: 36px;
    height: 50px;

    background-image: url("../img/icon-cat-slim.svg");
    background-repeat: no-repeat;
  }
}

.programs__title--fat {
  &::after {
    content: "";

    position: absolute;
    left: -10px;
    top: 10px;

    width: 67px;
    height: 50px;

    background-image: url("../img/icon-cat-pro.svg");
    background-repeat: no-repeat;
  }
}

.programs__description {
  margin-top: 22px;
  margin-bottom: 20px;
  padding-bottom: 23px;
  border-bottom: 1px solid $line-gray;

  @include font-param($font-family: $Arial);
}

.programs__link {
  display: flex;
  justify-content: flex-start;
  align-items: center;


  min-width: 123px;

  @include font-param($font-size: 16px, $line-height: 16px);
  text-decoration: none;
  text-transform: uppercase;
  color: $main-text-color;

  cursor: pointer;

  &::after {
    content: "";
    display: block;

    width: 22px;
    height: 10px;

    margin-left: 19px;

    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
    background-position: left;
  }

  &:hover::after {
    width: 32px;
    background-image: url("../img/icon-right-arrow-verylong.svg");
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .programs__item {
    margin-bottom: 33px;
    padding-top: 77px;
    padding-bottom: 57px;
    padding-left: 53px;
  }

  .programs__title {
    font-size: 36px;
    line-height: 36px;

    &::before {
      position: absolute;
      left: 394px;
      top: 10px;

      width: 200px;
      height: 200px;
    }
  }

  .programs__title--slim {
    &::after {
      left: 422px;
      top: 0;

      width: 140px;
      height: 192px;
    }
  }

  .programs__title--fat {
    &::after {
      left: 358px;
      top: 54px;

      width: 268px;
      height: 112px;
    }
  }

  .programs__description {
    max-width: 372px;

    margin-top: 24px;
    margin-bottom: 25px;

    border: none;

    font-size: 16px;
    line-height: 24px;
  }

  .programs__description--fat {
    max-width: 344px;
  }

  .programs__link {
    min-width: 155px;

    font-size: 20px;
    line-height: 30px;

    &::after {
      margin-left: 25px;
    }
  }
}

@media (min-width: $desktop-width) {
  .programs__section-wraper {
    padding-right: 100px;
  }

  .programs__list {
    display: flex;
    justify-content: space-between;

    margin-top: 82px;
  }

  .programs__item {
    width: 570px;

    padding-top: 50px;
  }

  .programs__title {
    &::before {
      position: unset;

      margin-right: 62px;

      width: 100px;
      height: 100px;
    }
  }

  .programs__title--slim {
    &::after {
      left: 15px;
      top: -6px;

      width: 70px;
      height: 97px;
    }
  }

  .programs__title--fat {
    &::after {
      left: -19px;
      top: 20px;

      width: 134px;
      height: 100px;
    }
  }

  .programs__description {
    max-width: 480px;

    margin-top: 40px;
    margin-bottom: 0;
  }
}
