.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hidden {
  display: none;
}

.section-wraper {
  box-sizing: border-box;

  width: 320px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

.page-title {
  margin: 0;

  @include font-param($font-size: 36px, $line-height: 36px);
}

.section-title {
  @include font-param($font-size: 36px, $line-height: 40px);
}

.page-body {
  margin: 0;
}

.page-button {
  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  width: 280px;

  padding-top: 11px;
  padding-bottom: 11px;

  border: none;

  @include font-param;
  text-transform: uppercase;
  text-decoration: none;

  cursor: pointer;
}

.page-button--green {
  background-color: $buttons-color-main;
  color: $light-text-color;
}

.page-button--gray {
  background-color: $buttons-color-gray;
  color: $dark-text-color;
}

.input-form {
  padding: 13px 0 14px 14px;

  border: 1px solid $line-gray;

  @include font-param($font-size: 16px, $line-height: 18px);
  text-transform: uppercase;
  color: $dark-text-color;
}

.label-text {
  @include font-param($font-size: 16px, $line-height: 18px);
  text-transform: uppercase;
  color: $dark-text-color;
}

@media (min-width: $tablet-width) {
  .section-wraper {
    width: 768px;

    padding-right: 30px;
    padding-left: 30px;
  }

  .page-title {
    font-size: 60px;
    line-height: 60px;
  }

  .section-title {
    font-size: 60px;
    line-height: 60px;
  }

  .page-button {
    width: 244px;

    font-size: 20px;
  }

  .input-form {
    padding: 11px 0 11px 19px;

    font-size: 20px;
    line-height: 30px;
  }

  .label-text {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .section-wraper {
    width: 1440px;

    padding-right: 110px;
    padding-left: 110px;
  }
}
