// Colors
$buttons-color-main: #68b738;
$buttons-color-gray: #f2f2f2;
$main-text-color: black;
$main-text-color-l: #111111;
$light-text-color: white;
$dark-text-color: #444444;
$light-bg-color: white;
$main-bg-color: #63a73a;
$gray-bg-color: #f2f2f2;
$gray-opacity-10: rgba(0, 0, 0, 0.1);
$line-gray: #D9D9D9;

// fonts
$Arial: "Arial", "Helvetica", sans-serif;
$Oswald: "Oswald", $Arial;


// mixins
@mixin font-param(
  $font-weight: 400,
  $font-size: 14px,
  $font-family: $Oswald,
  $letter-spacing: 0,
  $line-height: 18px
) {
  font-weight: $font-weight;
  font-size: $font-size;
  font-family: $font-family;
  letter-spacing: $letter-spacing;
  line-height: $line-height;
}

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
